<aside class="account-navigation">
    <nav class="account-navigation__container">
        <ul class="account-navigation__menu">
            <li class="account-navigation__item">
                <a href="/account" class="account-navigation__item-link account-navigation__item-account {% if template contains 'account' %}active{% endif %}">My details</a>
            </li>
            <li class="account-navigation__item">
                <a href="/account#orders" class="account-navigation__item-link account-navigation__item-orders">My orders</a>
            </li>
            <li class="account-navigation__item">
                <a href="/account/addresses" class="account-navigation__item-link account-navigation__item-addresses {% if template contains 'addresses' %}active{% endif %}">Address book</a>
            </li>
            <li class="account-navigation__item">
                <a href="/account#wishlist" class="account-navigation__item-link account-navigation__item-wishlist">Wishlist</a>
            </li>
            <li class="account-navigation__item">
                <a href="/account#coupons" class="account-navigation__item-link account-navigation__item-coupons">Coupons</a>
            </li>
            <li class="account-navigation__item">
                <a href="/account#b2b" class="account-navigation__item-link account-navigation__item-b2b">B2B</a>
            </li>
        </ul>
        <a href="/account/logout" class="account-navigation__item-logout">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="34" viewBox="0 0 36 34" fill="none">
            <path d="M30.1549 31.1825L30.8359 32.5191H30.8359L30.1549 31.1825ZM33.4325 27.9049L32.096 27.2239H32.096L33.4325 27.9049ZM13.3451 31.1825L12.6641 32.5191L13.3451 31.1825ZM10.0675 27.9049L11.404 27.2239L10.0675 27.9049ZM13.3451 2.81745L14.0261 4.15396V4.15396L13.3451 2.81745ZM10.0675 6.09507L8.73094 5.41408V5.41408L10.0675 6.09507ZM30.1549 2.81745L30.8359 1.48094L30.1549 2.81745ZM33.4325 6.09507L34.7691 5.41409L33.4325 6.09507ZM10.7943 9.57289C10.7541 10.4003 10.0507 11.0385 9.22321 10.9982C8.39576 10.958 7.75761 10.2546 7.79787 9.42711L10.7943 9.57289ZM7.79787 24.5729C7.75761 23.7454 8.39576 23.042 9.22321 23.0018C10.0507 22.9615 10.7541 23.5997 10.7943 24.4271L7.79787 24.5729ZM15.5 15.5C16.3284 15.5 17 16.1716 17 17C17 17.8284 16.3284 18.5 15.5 18.5V15.5ZM1.75 17L0.800144 18.1609C0.451939 17.876 0.25 17.4499 0.25 17C0.25 16.5501 0.451939 16.124 0.800144 15.8391L1.75 17ZM5.38348 12.0891C6.02464 11.5645 6.96968 11.659 7.49427 12.3001C8.01886 12.9413 7.92436 13.8863 7.28319 14.4109L5.38348 12.0891ZM7.28319 19.5891C7.92436 20.1137 8.01886 21.0587 7.49427 21.6999C6.96968 22.341 6.02464 22.4355 5.38348 21.9109L7.28319 19.5891ZM22.25 3.5H21.25V0.5H22.25V3.5ZM21.25 30.5H22.25V33.5H21.25V30.5ZM32.75 20V14H35.75V20H32.75ZM22.25 30.5C24.3749 30.5 25.8784 30.4988 27.0538 30.4028C28.2117 30.3082 28.9185 30.1291 29.4739 29.846L30.8359 32.5191C29.787 33.0535 28.6415 33.2831 27.2981 33.3928C25.9722 33.5012 24.3254 33.5 22.25 33.5V30.5ZM35.75 20C35.75 22.0754 35.7512 23.7222 35.6428 25.0481C35.5331 26.3915 35.3035 27.537 34.7691 28.5859L32.096 27.2239C32.3791 26.6685 32.5582 25.9617 32.6528 24.8038C32.7488 23.6284 32.75 22.1249 32.75 20H35.75ZM29.4739 29.846C30.6029 29.2708 31.5208 28.3529 32.096 27.2239L34.7691 28.5859C33.9062 30.2794 32.5294 31.6562 30.8359 32.5191L29.4739 29.846ZM21.25 33.5C19.1746 33.5 17.5278 33.5012 16.2019 33.3928C14.8585 33.2831 13.713 33.0535 12.6641 32.5191L14.0261 29.846C14.5815 30.1291 15.2883 30.3082 16.4462 30.4028C17.6216 30.4988 19.1251 30.5 21.25 30.5V33.5ZM11.404 27.2239C11.9792 28.3529 12.8971 29.2708 14.0261 29.846L12.6641 32.5191C10.9706 31.6562 9.5938 30.2794 8.73094 28.5859L11.404 27.2239ZM21.25 3.5C19.1251 3.5 17.6216 3.50117 16.4462 3.5972C15.2883 3.6918 14.5815 3.87094 14.0261 4.15396L12.6641 1.48094C13.713 0.946515 14.8585 0.716923 16.2019 0.607163C17.5278 0.498833 19.1746 0.5 21.25 0.5V3.5ZM14.0261 4.15396C12.8971 4.7292 11.9792 5.64708 11.404 6.77606L8.73094 5.41408C9.5938 3.72063 10.9706 2.3438 12.6641 1.48094L14.0261 4.15396ZM22.25 0.5C24.3254 0.5 25.9722 0.498833 27.2981 0.607163C28.6415 0.716923 29.787 0.946515 30.8359 1.48094L29.4739 4.15396C28.9185 3.87094 28.2117 3.6918 27.0538 3.5972C25.8784 3.50117 24.3749 3.5 22.25 3.5V0.5ZM32.75 14C32.75 11.8751 32.7488 10.3716 32.6528 9.19616C32.5582 8.03828 32.3791 7.33152 32.096 6.77606L34.7691 5.41409C35.3035 6.46296 35.5331 7.60846 35.6428 8.95187C35.7512 10.2778 35.75 11.9246 35.75 14H32.75ZM30.8359 1.48094C32.5294 2.3438 33.9062 3.72063 34.7691 5.41409L32.096 6.77606C31.5208 5.64708 30.6029 4.7292 29.4739 4.15396L30.8359 1.48094ZM7.79787 9.42711C7.87805 7.77912 8.09767 6.65695 8.73094 5.41408L11.404 6.77606C11.0293 7.51138 10.8624 8.17421 10.7943 9.57289L7.79787 9.42711ZM10.7943 24.4271C10.8624 25.8258 11.0293 26.4886 11.404 27.2239L8.73094 28.5859C8.09767 27.3431 7.87805 26.2209 7.79787 24.5729L10.7943 24.4271ZM15.5 18.5H1.75V15.5H15.5V18.5ZM0.800144 15.8391L5.38348 12.0891L7.28319 14.4109L2.69986 18.1609L0.800144 15.8391ZM2.69986 15.8391L7.28319 19.5891L5.38348 21.9109L0.800144 18.1609L2.69986 15.8391Z" fill="black"/>
        </svg>
            Sign out
        </a>
    </nav>
</aside>