<form class="contact-warranty-form" action="/" method="post" name="form_1" accept-charset="utf-8" autocomplete="on" novalidate="true">
    <div class="posted-message">
        {% render 'icon-checkmark-circle' %}
        {{ section.settings.first_form_success }}
    </div>
    <input type="hidden" name="form" value="warranty-extension">
    <input type="hidden" name="location" value="rometechbatteries">
    <div class="form-all">
        <div class="form-line form-line-radio">
            <p class="form-subtitle"> Product Category<span class="form-required">*</span></p>
            <div class="form-multiple-column">
                <div class="form-column-3">
                    <input type="radio" class="form-radio" id="input_3_0" name="type" checked="" value="Batteries" required="">
                    <label id="label_input_3_0" for="input_3_0">Batteries</label>    
                </div>
                
                <div class="form-column-3">
                     <input type="radio" class="form-radio" id="input_3_1" name="type" value="Key fob batteries" required="">
                    <label id="label_input_3_1" for="input_3_1">Key fob batteries</label>
                </div>

                <div class="form-column-3">
                    <input type="radio" class="form-radio" id="input_3_2" name="type" value="Case" required="">
                    <label id="label_input_3_2" for="input_3_2">Case</label>
                </div>
            </div>
        </div>

        <div class="form-line">
            <p class="form-subtitle"> Where did you buy it?<span class="form-required">*</span></p>
            <div class="form-multiple-column">
                <div class="form-column-3">
                    <input type="radio" aria-describedby="label_4" class="form-radio form-radio-jointed" id="input_4_0" name="whereDidYouBuy" checked="" value="Amazon" required="">
                    <label id="label_input_4_0" for="input_4_0">Amazon</label>
                </div>
                
                <div class="form-column-3">
                    <input type="radio" aria-describedby="label_4" class="form-radio form-radio-jointed" id="input_4_1" name="whereDidYouBuy" value="Walmart" required="">
                    <label id="label_input_4_1" for="input_4_1">Walmart</label>
                </div>
                
                <div class="form-column-3">
                     <input type="radio" aria-describedby="label_4" class="form-radio form-radio-jointed" id="input_4_2" name="whereDidYouBuy" value="rometechproducts.com" required="">
                    <label id="label_input_4_2" for="input_4_2">rometechproducts.com</label>
                </div>
                
                <div class="form-column-3">
                    <input type="radio" aria-describedby="label_4" class="form-radio form-radio-jointed" id="input_4_3" name="whereDidYouBuy" value="eBay" required="">
                    <label id="label_input_4_3" for="input_4_3">eBay</label>
                </div>
               
                <div class="form-column-3">
                    <input type="radio" aria-describedby="label_4" class="form-radio form-radio-jointed" id="input_4_4" name="whereDidYouBuy" value="rometechbatteries.com" required="">
                    <label id="label_input_4_4" for="input_4_4">rometechbatteries.com</label>
                </div>
                
                <div class="form-column-3">
                    <input type="radio" class="form-radio form-radio-jointed" name="whereDidYouBuy" id="other_4" value="other" tabindex="0" aria-label="Other">
                    <label id="label_other_4" for="other_4">Other</label>
                </div>
                
                <input type="text" class="form-radio-other-input form-textbox" name="otherPlace" placeholder="Please type another option here" value=" "></span></span>
            </div>
        </div>

        <h2 class="form-title">Order Details</h2>
      
        <div class="form-line">
            <p class="form-subtitle">Your Name <span class="form-required">*</span></p>
            <input type="text" name="yourName" class="form-textbox" placeholder="Enter Name Here" required="" value="">
        </div>

        <div class="form-line">
            <p class="form-subtitle">Email Address <span class="form-required">*</span></p>
            <input type="text" name="yourEmail" class="form-textbox" placeholder="youremail@mail.com" required="" value="">
            <p class="contact-warranty-error"></p>
        </div>

        <div class="form-line">
            <p class="form-subtitle">Order ID <span class="form-required">*</span></p>
            <input type="text" id="input_110" name="orderId" data-type="input-textbox" class="form-textbox" placeholder="Enter Order ID Here" required="" value="">
            <label class="form-sub-label" for="input_110">Note: Amazon Order ID example is 123-1234567-1234567; eBay Order ID example is 12-12345-12345; Walmart Order ID example is 123456789012345; rometechcases.com Order ID example is SY1234; rometechproducts.com, rometechbatteries.com Order ID example is 12345</label>
        </div>

        <div class="form-line">
            <p class="form-subtitle">Purchase Date <span class="form-required">*</span></p>
            <input type="date" class="form-textbox form-date" name="purchaseDate" value="{{ 'now'| date: '%Y-%m-%d' }}" min="" max="" />
        </div>

        <div class="form-line">
            <div class="form-column-1">
                <input type="radio" class="form-radio" id="input_12_0" name="subscribtion" checked="" value="Subscribe to Get the Latest News &amp; Promos">
                <label for="input_12_0">Subscribe to Get the Latest News &amp; Promos</label>
            </div>
            
            <div class="form-column-1">
                 <input type="radio" aria-describedby="label_12" class="form-radio" id="input_12_1" name="subscribtion" value="Do Not Subscribe">
                <label for="input_12_1">Do Not Subscribe</label>
            </div>
        </div>

        <div class="form-line">
            <button id="input_2" type="submit" class="form-submit-button button">Send</button>
        </div>
    </div>
</form>
