<style>
  .wishlist-link {
    --icon-size: 20px;
    --icon-fill: transparent;
    --icon-stroke: rgb(var(--color-button));
    --icon-stroke-width: 1px;
    --counter-size: 17px;
  }

  @media screen and (min-width: 1480px) {
    .wishlist-link {
      --icon-size: 25px;
    }
  }

  .wishlist-link .wk-button {
    display: flex;
    position: relative;
    padding: 16px 12px;
  }

  .wishlist-link .wk-icon svg {
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: visible;
    pointer-events: none;
  }

  .wishlist-link .wk-icon svg path {
    /* fill: var(--icon-fill);
    stroke: var(--icon-stroke);
    stroke-width: var(--icon-stroke-width);
    vector-effect: non-scaling-stroke; */
  }

  .wishlist-link .wk-counter {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--counter-size);
    height: var(--counter-size);
    border-radius: calc(var(--counter-size) / 2);
    font-size: 11px;
    line-height: 1;
    background: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
    position: absolute;
    top: 10px;
    right: 3px;
  }

  .wishlist-link .wk-selected .wk-counter {
    opacity: 1;
    transition: 0.2s opacity;
  }
</style>

<div class="wishlist-link">
  <a href class="wk-button" title="Wishlist">
    <span class="wk-icon">
      {% comment %} <svg viewBox="0 0 64 64">
        <path d="M32.012,59.616c-1.119-.521-2.365-1.141-3.707-1.859a79.264,79.264,0,0,1-11.694-7.614C6.316,42,.266,32.6.254,22.076,0.244,12.358,7.871,4.506,17.232,4.5a16.661,16.661,0,0,1,11.891,4.99l2.837,2.889,2.827-2.9a16.639,16.639,0,0,1,11.874-5.02h0c9.368-.01,17.008,7.815,17.021,17.539,0.015,10.533-6.022,19.96-16.312,28.128a79.314,79.314,0,0,1-11.661,7.63C34.369,58.472,33.127,59.094,32.012,59.616Z"><path>
      </svg> {% endcomment %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 18" fill="none">
        <path d="M9.09677 16.4316L9.66483 15.8662L9.09677 16.4316ZM2.36545 9.66851L1.79739 10.2339L2.36545 9.66851ZM11.9041 16.4316L12.4722 16.997L11.9041 16.4316ZM9.52426 2.47596L10.0923 1.91057V1.91057L9.52426 2.47596ZM18.6355 9.66851L18.0674 9.10312V9.10312L18.6355 9.66851ZM11.4767 2.47596L12.0447 3.04135V3.04135L11.4767 2.47596ZM10.5005 3.45676L9.9324 4.02215C10.0828 4.17327 10.2872 4.25823 10.5005 4.25823C10.7137 4.25823 10.9181 4.17327 11.0685 4.02215L10.5005 3.45676ZM9.66483 15.8662L2.93351 9.10312L1.79739 10.2339L8.52872 16.997L9.66483 15.8662ZM11.3361 15.8662C10.8742 16.3303 10.1268 16.3303 9.66483 15.8662L8.52872 16.997C9.61725 18.0906 11.3837 18.0906 12.4722 16.997L11.3361 15.8662ZM2.93351 3.04135C4.59706 1.36995 7.29265 1.36995 8.9562 3.04135L10.0923 1.91057C7.80217 -0.390378 4.08754 -0.390378 1.79739 1.91056L2.93351 3.04135ZM1.79739 1.91056C-0.490676 4.20942 -0.490675 7.93505 1.79739 10.2339L2.93351 9.10312C1.26788 7.42964 1.26788 4.71483 2.93351 3.04135L1.79739 1.91056ZM18.0674 9.10312L11.3361 15.8662L12.4722 16.997L19.2035 10.2339L18.0674 9.10312ZM18.0674 3.04135C19.733 4.71483 19.733 7.42964 18.0674 9.10312L19.2035 10.2339C21.4916 7.93505 21.4916 4.20942 19.2035 1.91056L18.0674 3.04135ZM12.0447 3.04135C13.7083 1.36995 16.4039 1.36995 18.0674 3.04135L19.2035 1.91056C16.9134 -0.390378 13.1987 -0.390377 10.9086 1.91057L12.0447 3.04135ZM11.0685 4.02215L12.0447 3.04135L10.9086 1.91057L9.9324 2.89137L11.0685 4.02215ZM8.9562 3.04135L9.9324 4.02215L11.0685 2.89137L10.0923 1.91057L8.9562 3.04135Z" fill="white"/>
      </svg>
    </span>
    <span class="wk-counter">0</span>
  </a>
</div>
