.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 10rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.cart__empty-continue {
  margin-top: 15px;
  font-weight: 300;
  display: block;
  color: rgb(var(--color-foreground));
}

.cart__empty-subtext {
  margin-top: 0;
  margin-bottom: 20px;
}

.cart__warnings p a {
  color: rgb(var(--color-foreground));
  font-weight: 500;
}

.cart__warnings a.button {
  margin-top: 20px;
  min-width: 300px;
  color: white;
}

.cart__warnings a.button:hover {
  opacity: 0.7;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 10rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 6.5rem;
}

.cart__footer .discounts {
  margin-bottom: 1rem;
}

.cart__note {
  height: fit-content;
  top: 2.5rem;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 45%;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button,
.cart__ctas .button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__dynamic-checkout-buttons:has(.dynamic-checkout__content:empty) {
  margin: 0;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-radius-outset) !important;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  padding: 1.5rem 0 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  display: block;
  /* border-bottom: 1px solid rgba(var(--color-foreground),.2); */
}

.cart__footer .totals {
  padding: 5px 0 15px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(var(--color-foreground), .2);
}

.cart__footer .totals__total {
  font-size: 24px;
  font-weight: 600;
}

.cart__footer .cart__tax {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(var(--color-foreground), .2);
}

.cart__footer .tax__text {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  flex-shrink: 0;
}

.grand-totals {
  display: flex;
  padding: 5px 0 15px;
  justify-content: space-between;
  align-items: center;
}

.grand-totals .totals__total {
  margin: 0;
}

.grand-totals .totals__total-value {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.cart__footer .tax-note {
  margin: 0;
  padding: 0;
}

.cart__free-shipping {
  margin-bottom: 40px;
}

.cart__free-shipping__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 750px) {
  .grand-totals .totals__total-value {
    font-size: 36px;
  }
}

@media screen and (min-width: 990px) {
  .grand-totals .totals__total-value {
    font-size: 40px;
  }
}

@media screen and (min-width: 1600px) {
  .grand-totals .totals__total-value {
    font-size: 54px;
  }
}


.cart__checkout-button,
.cart__continue-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
  flex-direction: column;
}

.cart__free-shipping__progress {
  border-radius: 4px;
  background-color: rgba(var(--color-foreground),.4);
  font-size: 0;
  overflow: hidden;
}

.cart__free-shipping__progress-inner {
  display: inline-block;
  height: 8px;
  border-radius: 4px;
  background-color: rgb(var(--color-accent));
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    max-width: 36rem;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    gap: 1rem;
  }
}
