body *, html * {
    cursor: none!important;
}
.cursor {
    display: block !important;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #686868;
    transition: all .2s ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px),-50%) scale(0);
    z-index: 21;
    opacity: 0
}

.cursor2 {
    display: block !important;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #000;
    opacity: .2;
    position: fixed;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition: width .3s,height .3s,opacity .3s,scale .3s;
    z-index: 21
}

.hover {
    transform: translate(calc(-50% + 15px),-50%) scale(1);
    background-color: rgba(51, 51, 51, 1);
    opacity: .5
}

.hover+.cursor2 {
    opacity: 0
}

.cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: .5
}

