.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

.contact-wrapper {
  padding: 60px 20px;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 30px;
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}

.wholesale .contact-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.contact-item:first-child {
  margin-bottom: 30px;
}

.contact .title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.wholesale .contact .title { 
  text-align: left;
  text-transform: uppercase;
}

.contact .contact_text {
  font-size: 14px;
  text-align: center;
}

.contact__button {
  margin-top: 3rem;
}

.contact-item__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.contact-item__text {
  font-size: 14px;
  font-weight: 300;
}

.contact-item__list {
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.contact-item__list li {
  margin-bottom: 10px;
}

.contact-item__list svg {
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.contact-item__link {
  text-decoration: none;
  color: rgb(var(--color-foreground));
}

.contact-item__link:hover {
  opacity: 0.7;
}

.contact  .field {
  display: block;
}

.contact .field:after {
  display: none;
}

.contact .field__label {
  position: static;
  font-size: 14px;
  font-weight: 600;
  color: rgb(var(--color-foreground));
}

.contact .field__input {
  height: 3.5rem;
  padding-left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid;
  box-shadow: none;
  background-color: transparent;
}

.field__input::placeholder {
  color: rgba(var(--color-foreground),.5);
  opacity: 1;
}
.field__input::-webkit-input-placeholder {
  color: rgba(var(--color-foreground),.5);
  opacity: 1;
}
.field__input::-moz-placeholder {
  color: rgba(var(--color-foreground),.5);
  opacity: 1;
}

.contact .contact__button {
  text-align: right;
}

.contact .contact__button .button {
  min-width: 305px;
  color: #fff;
}

@media screen and (min-width: 750px) {
  .contact-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .contact-item:first-child {
    padding-right: 30px;
  }

  .contact-item__text {
    font-size: 18px;
  }

  .contact-item__list {
    font-size: 16px;
  }

  .contact .field__label {
    font-size: 16px;
  }

  .contact .field {
    margin-bottom: 2rem;
  }

  .contact__button {
    margin-top: 4rem;
  }

  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }

  .contact .title {
    font-size: 36px;
  }

  .contact .contact_text {
    font-size: 18px;
  }  
}

@media screen and (min-width: 990px) {
  .contact .title {
    font-size: 40px;
  } 

  .contact-item__title {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .contact .title {
    font-size: 54px;
  }

  .contact .contact_text {
    font-size: 24px;
  }  

  .contact-item__list {
    font-size: 20px;
  }
}

@media screen and (min-width: 1600px) {
  .contact .field__label {
    font-size: 20px;
  }

  .contact-item__title {
    font-size: 32px;
  }

  .contact-item__text {
    font-size: 24px;
  }
}

/* wholesale page */
.contact-item__image {
  margin-top: 30px;
}

.wholesale__image {
  width: 100%;
  height: auto;
}

.wholesale__title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.contact-item__content h1,
.contact-item__content h2,
.contact-item__content h3,
.contact-item__content h4 {
  font-weight: 600;
}

.wholesale .contact .contact__button {
  text-align: left;
}

@media screen and (min-width: 750px) {
  .wholesale__title {
    font: 36px;
  }
}

@media screen and (min-width: 990px) {
  .wholesale__title {
    font-size: 40px;
  }
}

@media screen and (min-width: 1600px) {
  .wholesale__title {
    font-size: 54px;
  }
}