.main-about {
    max-width: 846px;
}

.main-about .title--primary {
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.about-wrapper {
    display: grid;
    grid-gap: 20px;
    column-gap: 20px;
    row-gap: 20px;
}

.about-item {
    padding: 20px;
    border: 1px solid rgba(159,159,159,.8);
    border-radius: 50px;
}

.about-card-wrapper {
    position: relative;
}

.about-card-wrapper:after {
    width: 30px;
    height: 30px;
    padding: 13px;
    content: '';
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3e%3cpath d='M25.6654 13.9997H13.9987M13.9987 13.9997H2.33203M13.9987 13.9997V25.6663M13.9987 13.9997V2.33301' stroke='%2300E04F' stroke-width='3' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60%;
    transition: all 0.4s ease;
}

.about-card-wrapper:hover:after {
    background-color: #00E04F;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3e%3cpath d='M25.6654 13.9997H13.9987M13.9987 13.9997H2.33203M13.9987 13.9997V25.6663M13.9987 13.9997V2.33301' stroke='%23FFFFFF' stroke-width='3' stroke-linecap='round'/%3e%3c/svg%3e");
}

.about-item__inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.about-item__inner-caption {
    width: 100%;
    justify-self: flex-end;
    flex-grow: 2;
    display: flex;
    align-items: flex-end;
    margin: 0;
    min-height: 70px;
}

.about-item-image {
    max-width: 100%;
}

.card__heading-info {
    width: 100%;
    text-transform: uppercase;
    font-size: 24px;
    text-align: left;
}

.card__heading-team {
    text-transform: uppercase;
    font-size: 32px;
}

.about-content {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #fff;
}
  
.about-content__inner {
    max-width: 90%;
    max-height: 90vh;
    padding: 20px 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 8px 30px 0px #33333340;
    border-radius: 30px;
    overflow: hidden;
}

.about-content__item {
    height: calc(90vh - 240px);
    overflow-y: auto;
    text-align: center;
}
  
.about-content__container {
    padding: 0;
    text-align: left;
}
  
.about-content__container img {
    max-width: 100%;
}

.about-content__inner .button-close {
    width: 30px;
    height: 30px;
    background: #fff;
    border: none;
    position: absolute;
    top: 10px;
    right: 30px;
    border-radius: 50%;
    padding: 8px;
}
  
.about-content__inner .button-close svg {
    width: 14px;
    height: 14px;
}

.about-content__container-members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.about-content__logo {
    max-width: 210px;
}

.about-content__title {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.about-content__text {
    text-align: left;
}

.about-content__container {
    margin-top: 20px;
}

.about-content__member-name {
    margin: 10px 0 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.about-content__member-position {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

@media screen and (min-width: 750px) {
    .about-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .main-about .title--primary {
        font-size: 36px;
    }

    .card__heading-info {
        font-size: 36px;
    }
    
    .card__heading-team {
        font-size: 40px;
    }

    .about-content__inner .button-close {
        width: 35px;
        height: 35px;
        top: 30px;
        right: 40px;
        padding: 10px;
    }
      
    .about-content__inner .button-close svg {
        width: 16px;
        height: 16px;
    }

    .about-content__item {
        padding: 0 30px;
    }

    .about-content__container-members {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .about-content__logo {
        max-width: 347px;
    }

    .about-content__title {
        font-size: 36px;
        margin-bottom: 60px;
    }

    .about-content__member-name {
        font-size: 20px;
    }
    
    .about-content__member-position {
        font-size: 16px;
    }
}

@media screen and (min-width: 990px) {
    .main-about .title--primary {
        font-size: 40px;
    } 

    .about-content__inner {
        max-width: 847px;
    }

    .about-content__inner .button-close {
        width: 40px;
        height: 40px;
        top: 40px;
        right: 50px;
        padding: 11px;
    }
      
    .about-content__inner .button-close svg {
        width: 18px;
        height: 18px;
    }

    .about-card-wrapper:after {
        width: 50px;
        height: 50px;
    }

    .card__heading-info {
        font-size: 54px;
    }
    
    .card__heading-team {
        font-size: 56px;
    }

    .about-content__item {
        padding: 0 90px;
    }

    .about-content__logo {
        max-width: none;
    }

    .about-content__title {
        font-size: 40px;
        margin-bottom: 90px;
    }
}

@media screen and (min-width: 1200px) {
    .main-about {
        max-width: 1162px;
    }

    .about-content__inner {
        max-width: 1136px;
    }

    .main-about .title--primary {
        font-size: 54px;
    } 

    .about-content__inner .button-close {
        width: 50px;
        height: 50px;
        top: 50px;
        right: 60px;
        padding: 14px;
    }
      
    .about-content__inner .button-close svg {
        width: 22px;
        height: 22px;
    }

    .about-content__item {
        padding: 0 95px;
    }

    .about-item__inner-caption {
        padding: 15px;
    }

    .about-content__container-members {
        column-gap: 30px;
        row-gap: 50px;
    }

    .about-content__title {
        font-size: 54px;
        margin-bottom: 110px;
    }

    .about-content__member-name {
        font-size: 26px;
    }
    
    .about-content__member-position {
        font-size: 20px;
    }
}